.profile-image {
    border: 5px solid rgba(0, 0, 0, 0.2);
}

.site-container {
    padding-top: 80px;
}

.icon {
    height: 21px;
    width: 21px;
    display: flex;
    svg {
        width: 21px;
        height: 21px;
    }
}

.icon.grey svg path {
    fill: #999;
}

.icon.red svg path {
    fill: #A00;
}

.list-title {
    text-transform: uppercase;
    font-weight: 300;
}

.navbar-toggler:focus {
    outline: none;
}

.navbar-toggler {
    background-color: rgba(255,255,255,0.1);
}

.navbar-toggler.collapsed {
    background-color: transparent;
}

h2[id]::before {
    display: block;
    height: 80px;
    margin-top: -80px;
    visibility: hidden;
    content: "";
}

.sticky-top.space-before {
    padding-top: 80px;
    margin-top: -80px;
}

@media print {
    body {
        -webkit-print-color-adjust: exact !important;
    }
    .jumbotron {
        padding: 0;
    }
    .badge {
        border: 0 !important;
    }
}


// 리눅스마스터 공부용 페이지용 -s
.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#0C9;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
    z-index: 9999;
}

.my-float{
	margin-top:22px;
    line-height: 60px;
}

.burrow {
    visibility: hidden;
}

.creep {
    border: 1px solid silver; padding: 0px 4px 0px 4px; background-color: rgb(102, 187, 200);
    font-weight: bold;
}

.card {
    margin-bottom: 3px;
}
// 리눅스마스터 공부용 페이지용 -e